*{
    padding:0;
    margin:0;
}
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
body{
    font-family: 'Times New Roman', Times, serif;
    /* font-family: monospace; */
    font-size: 13px;
    background-color: #fff;
    text-align: justify;

}

.container-fluid{
    width: 210mm;
    /* height: 297mm; */
    background-color: #fff;
    padding: 15px 20px;
    /* padding: 30px 20px; */
}

p{
    position: relative;
    font-size: 13px;
    word-wrap: break-word;
    margin-bottom: 5px;
    z-index: 1;
}

li{
    margin-bottom: 3px;
}

section{
    margin-bottom: 15px;
}

a{
    color: unset;
    text-decoration: unset;
}

a:hover{
    color: green;
    transition: .2s;
}

.ml-3{
    margin-left: 4px;
}

.contact li i{
    width: 5.5%;
}

.projects{
    margin-bottom: 5px;
}

.project{
    margin-bottom: 12px;
}

.sec-subtitle, .p-head{
    font-size: 16px;
    margin: unset;
    /* font-weight: bold; */
}

.p-head a{
    font-weight: bold;
}

.sec-subtitle > p{
    margin: unset;
}

.sec-subtitle > div.row{
    font-size: 15px;
}



.sec-subtitle > div.row > .col-3{
    font-size: 14px;
}

.project > ul{
    margin: unset;
}

.sec-title::before{
    background-color: rgb(98, 235, 98);
    padding: 1.5px;
    margin-right: 2px;
    content: " ";
}

.sec-title{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7px;
}

#about{
    margin-bottom: 10px;
}

.list-style-none{
    list-style: none;
    margin: unset;
    padding: unset;
}

.list-style-none li{
    
}

.p-date{
    font-size: unset;
    text-align: right;
}

.technologies{
    margin-left: 13px;
}

.technologies > .badge{
    margin: 1px;
    background-color: unset!important;
    border: 1px solid #000;
    color: #000!important;
    font-weight: unset;
}
.favorite-language{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.favorite-language .percent{
    width: 100%;
    /* background-color: rgb(253, 233, 236); */
    display: flex;
    justify-content: space-between;
    color: rgb(243, 161, 174);
    font-size: 10px;
}

.favorite-language .percent .filled{
    /* background-color: rgb(243, 161, 174); */
    background-color: #000;
    height: 10px;
}

.percent i{
    /* background-color: #fff; */
    /* margin-left: -10px; */
}
.w-10{
    width: 100%;
}
.w-9{
    width: 90%;
}
.w-8{
    width: 80%;
}
.w-7{
    width: 70%;
}
.w-6{
    width: 60%;
}
.w-5{
    width: 50%;
}

.image-avatar{
    /* position: absolute; */
    width: 100px;
    height: 100px;
    background-image: url('/cv/assets/khoa-no-bg.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}
.text-strong{
    font-weight: bold!important;
}

.text-left{
    text-align: left;
}

.text-bold{
    font-weight: bold;
}

.havard-resume .image-avatar{
    width: 120px;
    height: 120px;
}

.havard-resume section{
    margin-top: 0px;
    margin-bottom: 0px;
}

.havard-resume{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

.havard-resume hr{
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.havard-resume #about{
    margin-bottom: 20px;
}

.havard-resume h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

.havard-resume .sec-title{
    text-align: left;
    font-size: 16px;
    margin-top: 13px;
    
    border-bottom: 1px solid #000;
}

.havard-resume .sec-title::before{
    background-color: unset;
    padding: unset;
    margin-right: unset;
}

.havard-resume ul{
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.havard-resume ul li{
    margin-left: 20px;
}

.text-right{
    text-align: right;
}

.achievement{
    text-align: left;
}